---
layout: default
menu: home
css: ['index.css', 'sidebar-popular-repo.css']
---
<section class="jumbotron">
    <div class="container">
        <h1>{{ site.subtitle }}</h1>
        <div id="jumbotron-meta-info">
             {% for nav in site.labels %}
                <span class="meta-info-index hvr-grow">
                    <a href="{{ nav.href }}" title="{{ nav.label }}" target="{{ nav.target | default: _self }}">{{ nav.label }}</a>
                </span>
            {% endfor %}
        </div>
    </div>
</section>
<section class="content container">

    <div class="row">

        <!-- Post List -->
        <div class="col-md-8">

            <ol class="post-list">
                {% for post in paginator.posts %}
                 {% if  post.category != 'gitchat' and post.category != 'geektime' %}
                    <li class="post-list-item">
                        <h2 class="post-list-title">
                            <a class="hvr-underline-from-center" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                        </h2>
                        <p class="post-list-description">
                            {{ post.excerpt | strip_html | strip }}
                        </p>
                        <p class="post-list-meta">
                            <span class="octicon octicon-calendar"></span> {{ post.date | date: "%Y/%m/%d" }}
                        </p>
                    </li>
                  {% endif %}
                {% endfor %}
            </ol>

            <!-- Pagination -->
            {% include pagination.html %}

        </div>

        <div class="col-md-4">
            {% include sidebar-popular-repo.html %}
        </div>

    </div>

</section>

