<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>我是一个什么样的人？有时候我也会这样问我自己。</p>
        <p>至少现在还是一名程序员，不管再忙还在坚持搬砖。</p>
        <p>喜欢分享，刚开始分享技术，后来也分享生活和故事。</p>
        <p>我是一名北漂，和大多数北漂一样，为了生计而奔波，早上坐一个多小时地铁，加班很频繁，有时候也会怀疑生活是为了啥？</p>
        <p>自从写博客之后我的生活改变很大，以前常常户外活动，现在一年出去两三次。</p>
        <p>我喜欢交朋友，认识很多人，真实情况是，北漂的朋友都很少，有几个好哥们，一年见四五次都跟中彩票一样。</p>
        <p>最喜欢读的一本书是《平凡的世界》，平凡的人生，不平凡的精神。</p>
        <p>希望有一天可以赚很多的钱，去干够风骚有意义的事情。</p>
        <p>我是纯洁的微笑，一个仍然在路上，向往自由和梦想的人！</p>

        <p>
          <strong>个人公众号</strong>：<a href="http://www.ityouknow.com/assets/images/keeppuresmile.jpg" target="_blank">纯洁的微笑（ID：keeppuresmile）</a>，“分享技术、感悟人生”欢迎关注
        </p>

        <p><strong>About name</strong></p>

        <p>我的一个兄弟波仔，给我一种精神：平凡生活中乐趣一直在！这个头像非常和他神似，采用这个笔名也是为了体现在苦逼的生活中，永远保持纯洁，保持微笑！</p>

        <p>
          <a href="http://mp.weixin.qq.com/s/Fkcn_cPzleWNAbgC8maEeQ" target="_blank">了解更多</a>
        </p>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>Cnblogs：<a href="{{ site.cnblog_url }}">{{ site.cnblog_url }}</a></li>
            <li>我的微信：<strong>593544228</strong>（备注：博客）</li>
        </ul>

        <p><strong>Group</strong></p>
        <p><em>创建了一些不同类别的QQ群，大家如果有兴趣可以加入，请不要重复入群！加入方式：请关注公众号：<a href="http://www.ityouknow.com/assets/images/keeppuresmile.jpg" target="_blank">纯洁的微笑</a>，回复关键字</em></p>

       <ul>
            <li>IT人的投资理财 - 关键字：理财</li>
            <li>springboot交流群 - 关键字：springboot</li>
            <li>原创作者交流群 - 关键字：原创</li>
        </ul>

        <p><em>如果上面的群都不合适你，入群（<strong>200596287</strong>）交流IT人的技术与生活</em></p>

       <h2>
         Note
       </h2>

        <p>
         自从写博客开始，开始陆续有一些机会和同行在线上交流，但是也遇到了一些困惑，有的朋友加我之后，直接就抛出一堆错误日志，有的上来默不作声，有的更是质疑不断... 当然更多的是一些友善、有乐趣的朋友。
       </p>

        <p> 大家的时间都很宝贵，为了更高效的交流，我希望您可以这样</p>

       <ul>
         <li>请先自我介绍一下，您在那家公司，做什么工作，怎么称呼？希望和您交流什么？任何深入的交流都是建立在相互了解之上。
        </li>
        <li>如果是您的项目报错这类问题，我真的爱莫能助，大部分的情况错误信息都是需要根据本项目或者业务去调试的，仅有很少的一部分通过日志就可以定位到问题，当然这种错误网上应该都会有解决方案。
        </li>
         <li>如果您想和我交流框架、性能优化这种大问题，因为太大我不知道从何说起，比如：上来就问 Spring Boot/Hadoop 并发量支持多少的这类问题，真对不起，本人才疏学浅真的爱莫能助，问题越具体交流越有效。
        </li>
        <li> 我不一定能及时回复您，加我之后有问题尽请直说，不用问“在吗”之类的问题，当我闲下来的时候，每个人的留言，我都会尽量去回复。
        </li>
        <li> 
          欢迎转载，请在文章页面明显位置给出原文连接，否则保留追究法律责任的权利；如在微信公众号转载请务必附上<a href="http://www.ityouknow.com/assets/images/keeppuresmile.jpg" target="_blank">博客公众号二维码</a>，谢谢。
        </li>
      </ul>

       <p>
        最后，还是感谢您在茫茫人海中阅读了我的文章。
       </p>


       <h2>
         Donate
       </h2>

       <p>
         如果我的文章帮助了你，可以赞赏我6.66元，请我吃个肉夹馍 :)
       </p>

       <p align="center">

       <img src="http://www.ityouknow.com/assets/images/tip.jpg" />
       <br/>微信扫一扫
            
         <!-- <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         
          <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">-->
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>