<div>
    <p style="border-top: #e0e0e0 1px dashed; border-right: #e0e0e0 1px dashed; border-bottom: #e0e0e0 1px dashed; border-left: #e0e0e0 1px dashed; padding-top: 5px; padding-right: 10px; padding-bottom: 10px; padding-left: 150px; background: url(http://www.ityouknow.com/assets/images/keeppuresmile_small.jpg) #e5f1f4 no-repeat 1% 50%; font-family: 微软雅黑; font-size: 11px;" >
        <br/>
        作者：<span style="font-weight: bold; font-size: large;"><a href="http://www.ityouknow.com/" target="_blank">纯洁的微笑</a></span>
        <br/>
        出处：<a href="http://www.ityouknow.com/blog" target="_blank">http://www.ityouknow.com/</a>
        <br/>
        本文版权归作者所有，欢迎转载，但未经作者同意必须保留此段声明，且在文章页面明显位置给出原文连接，否则保留追究法律责任的权利；如在微信公众号转载请务必附上<a href="http://www.ityouknow.com/assets/images/keeppuresmile_430.jpg" target="_blank">博客公众号二维码</a>，谢谢。
        <br/>
        <br/>
        <span style="font-size: 150%; font-weight: bold;">关注就是一种支持，欢迎扫描左侧二维码关注我</span><br>
    </p>
</div>