<div>
   <p align="center">
     	  {% if page.copyright %}
         <img src="http://favorites.ren/assets/images/keeppuresmile.jpg" >
         <br/>
         微信扫描二维码，关注我的公众号   <br/>
        {% else %}
         <img src="http://favorites.ren/assets/images/keeppuresmile.jpg" >
         <br/>
         微信扫描二维码，关注一个有故事的程序员
        {% endif %}

   </p>
   <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
       <strong>（关注后回复 555 <a href="http://www.ityouknow.com">获取程序员专属精华资料！</a>）</strong>
   </p>
   <p align="center" style="margin-top: 15px; font-size: 16px;color: #337ab7;">
       <strong><a href="http://laughyouth.com/" target="_blank">点击了解：全网唯二以程序员为主题的漫画公众号</a></strong>
   </p>
</div>