<div>
   <p align="center">
     	  {% if page.copyright %}
         <img src="http://favorites.ren/assets/images/{{ page.copyright }}.jpg" >
         <br/>
         微信扫描二维码，关注我的公众号
        {% else %}
         <img src="http://favorites.ren/assets/images/cartoon.jpg" >
         <br/>
         微信扫描二维码，关注一个有故事的程序员
        {% endif %}

   </p>
   <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
       <strong>（转载本站文章请注明作者和出处 <a href="http://www.ityouknow.com">纯洁的微笑-ityouknow</a>）</strong>
   </p>
   <p align="center" style="margin-top: 15px; font-size: 16px;color: #337ab7;">
       <strong><a href="http://www.justdopython.com/" target="_blank">点击了解：Python从0到100天的学习教程</a></strong>
   </p>
</div>