<div class="row">

    <div class="col-md-12">

        <!-- Blog list -->
        <ul id="posts-list">
            {% for post in site.posts %}
                {% if post.category=='springboot' %}
                <li class="posts-list-item">
                    <div class="posts-content">
                        <span class="posts-list-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
                        <a class="posts-list-name bubble-float-left" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                        <span class='circle'></span>
                    </div>
                </li>
                {% endif %}
            {% endfor %}

                <li class="posts-list-item">
                    <div class="posts-content">
                        <span class="posts-list-meta">2016-01-01</span>
                        <a class="posts-list-name bubble-float-left" href="http://www.cnblogs.com/ityouknow/p/5662753.html">springboot(一)：Spring Boot 入门篇</a>
                        <span class='circle'></span>
                    </div>
                </li>
        </ul>

        <!-- Pagination -->
        {% include pagination.html %}

        <!-- Comments -->
        {% include duoshuo-comments.html %}

    </div>

</div>
<script>
    $(document).ready(function(){

        // Enable bootstrap tooltip
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });

    });
</script>