---
layout: default
css: ['sidebar-post-nav.css']
---
{% include jumbotron.html %}
<article class="post container {{ page.lock }}" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="row">

        {% if page.no-post-nav %}
        <div class="col-md-12 markdown-body">

            {{ content }}

            {% include copyright.html %}

            <!-- Comments -->
           <div class="comment">
             {% include comments.html %}
           </div>

        </div>
        {% else %}
        <div class="col-md-9 markdown-body">

            {{ content }}

            {% include copyright.html %}

            <!-- Comments -->
            <div class="comment">
             {% include comments.html %}
            </div>
        </div>

        <div class="col-md-3">
            {% include sidebar-post-nav.html %}
        </div>
        {% endif %}

    </div>
     <div class="asb-post-01">
        <div class="mask"></div>
            <div class="info">
                <div>扫码关注公众号：<span style="color: #E9405A; font-weight: bold;">纯洁的微笑</span></div>
            <div>
            <span>发送 </span><span class="token" style="color: #e9415a; font-weight: bold; font-size: 17px; margin-bottom: 45px;">290992</span>
            <div>
                即可<span style="color: #e9415a; font-weight: bold;">立即永久</span>解锁本站全部文章
            </div>
            <img class="code-img" style="width: 300px;display:unset" src="http://favorites.ren/assets/images/keeppuresmile.jpg">
        </div>
    </div>
</article>
